@charset "utf-8";
/*GENERAL DE LA PAGINA*/
* {
    border: 0px solid white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}
/*-------------------------------------------------*/
/*CONTENEDOR DEL BODY EN GENERAL*/
#container{
    width: 100%;
    
}

/*-------------------------------------------------*/
/*ENCABEZADO*/
header {
    width: 100%;
    height: 45vh;
    margin: 0px; 
    /*IMAGEN DEL HEADER FONDO ATRAS DEL LOGO PNG Correeccion*/
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(196,166,162,0) 78%), linear-gradient(0deg, #331805 0%, rgba(255, 255, 255, 0) 10%),url('../images/header-fondo.png');
    background-repeat: no-repeat;
    
    background-size: cover,cover,cover,cover;
    background-position: top 300% center,center,center,center;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center ;

}
.logo-header{
    margin-top: 20vh;
    margin-left: 15%;
    
    contain: "";
    height: 75%;
    width: 75%;
    
}
/*-------------------------------------------------*/
/*MENU NAVEGACION*/
/*CARACTERISTICAS GENERALES DEL MENU*/
.container-menu{
    /*background-color:#331805;*/
    
    height: 65px;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    
    
    /*background-image: linear-gradient(#331805 70%,#642A00);*/
    background-color: #331805;
    
}
.menuList{
    height: 65px;
    width: 80%;
    
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}



/*CARACTERISTICA INPUT PARA RESPONSIVE LAYOUT - MOVILES*/
/*IMAGEN LOGO DEL MENU*/

/*CUANDO EL CURSOR ESTA SOBRE LA IMAGEN DEL MENU*/
.menu-logo:hover{
    background: none;
    transition: .3s;
    transform: scale(1.2);
}
/*CARACTERISTICAS DEL CONTENEDOR DE LAS OPCIONES DEL MENU*/
nav ul{
    width: 30%;
    transition: .3s;
}
/*CARACTERISTICAS INICIALES DEL TEXTO EN EL MENU*/
nav ul li a{
    color: black;
    font-weight: bold;
    
}
/*QUE OCURRE CUANDO EL CURSOR PARA SOBRE EL TEXTO DEL MENU*/
nav ul li a:hover{
    color: white;
}

/*ESPACIADO ENTRE CADA OPCION DEL MENU DENTRO DEL CONTENEDOR*/
ul{
    display: flex;
    
    justify-content: space-between;
    list-style: none;
    margin: auto;
    flex-wrap: wrap;  
}
/*-------------------------------------------------*/
/*BOTONES DEL MENU Y POSIBLEMNTE OTROS BOTONES*/
/*CARACTERISTICAS BOTON GENERAL - PARA TODA LA PAGINA*/
 a{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2vw;
    transition: .3s;
    color: black;
    font-weight: bold;
    align-self: baseline;
    padding: 15px 1.3vw;
    text-align: center;
}
.menuOption{
    background: #E59700;
}
.boton-entrar{
    background: #E59700;
}


/*QUE PASARA AL PASAR EL CURSOR SOBRE EL BOTON*/
a:hover{
    color: white;
    background: #FFD600;
}
/*-------------------------------------------------*/
/*SEPARADOR ESPECIAL ENTRE ENCABEZADO, MENU, CONTENIDO Y PIE DE PAGINA*/
.clearfix{
    clear:both;
    padding: 30px;
    background-color: #642A00;
}

.contenido-body{
    background-color: #642A00;
    color: #000000;
    
}
.contenido-body a {
    text-decoration: none;
}
.box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
   
    
}
.contenido-body-index{
    
    height: 90vh;
    width: 75%;
    /*CORRECCION DE LA IAMGEN DEL BODY CENTRADO*/
    background-image:  linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(196,166,162,0) 15%), linear-gradient(270deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0) 15%),url('../images/fondo1.png') ;
    background-repeat: no-repeat;
    background-size: cover;
    
    
   
}
.contenido-body-index a {
    text-decoration: none;
    justify-content:center;
    
}
.tittle {
    margin-top: 10px;
    
    font-size: 5vw;
    color: rgb(255, 238, 145);
    text-shadow: 2px 2px 6px #1D1D1D;
    
    text-transform: uppercase;
}
p{
    color: white;
    margin: left 80px; ;
    font-size: 2.3vw;
    text-shadow: 2px 2px 6px #1D1D1D;
    padding-left: 15px;
}


/*-------------------------------------------------*/
/*CONTENIDO ENTRE ENCABEZADO,MENU Y PIE DE PAGINA*/
/*CONTENT ES LA PALABRA CLAVE PARA EL BODY HTML*/
#content{
    float:left;
    width: 100%;
    background-color:#642A00;
    color: white;
    font-size:xx-large;
}
/*CONTENIDO-BODY SERA LA INFORMACION CENTRADA EN LA PAGINA WEB (REVISAR FIGMA)*/
.contenido-body{
    max-width: 70%;
    margin: auto;
    padding: 10px 10px;
    justify-content: center;
    flex-wrap: wrap;
    
}
.seccion-1{
    display: flex;
    align-items: center;
    padding: 10px 0px;
    justify-content: center;
}
.seccion-2{
    
    align-items: center;
    padding: 10px 0px;
    justify-content: center;
}
/*CONTENIDO BODY DE INDEX/INICIO*/
/*IMAGEN CENTRADA EN BODY - SE PUEDE APLICAR PARA OTRAS PAGINAS WEB*/
.imagen-centrada{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image{
    width: 100%;
    height: 50vw;
}
.image2{
    max-width: 55vw;
    width: 95%;
    height: 75%;
}
.imagen-centrada .boton-saber-mas {
    position: absolute;
    background: #E59700;
    margin-top: 60vh;
}

.imagen-centrada img{
    background:linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(196,166,162,0) 78%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.imagen-centrada  p{
    box-sizing: content-box;
    position: absolute;
    margin-top: -26%;
    margin-left: -270px;
    max-width: 650px;
}
.reglas{
    color: black;

    font-size: 1.5vw;
    
    
}
/*CARACTERISTICAS BODY PARA LAS PAGINA - QUIENES SOMOS*/

/*-------------------------------------------------*/
/*FOOTER - PIE DE PAGINA*/
footer{ 
    width: 100%;
    padding: 10px 0px;
    background: #1D1D1D;    
}
/*LINEA SEPARADORA DEL FOOTER - SEPARADOR DE COLUMNAS*/
.linea-footer {
    display: flex;
    flex-direction: column;
    padding: 1px;
    height: 100px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #FFC195;
}
/*DISEÑO FILA QUE CONTIENE LAS COLUMNAS DEL FOOTER*/
.footer-fila{
    
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    max-width: 1300px;
    margin: auto;
}
/*DISEÑO DE PROPORCION DE LAS COLUMNAS DEL FOOTER*/
.footer-col{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #1D1D1D;
    height: 30vw;
    width: 400px;
}
/*CONTENIDO DE CADA COLUMNA DEL FOOTER*/
/*COLUMNA IZQUIERDA DEL FOOTER*/
.footer-col .nombre-logo img{
    width: 380px;
    margin: 0;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    display: flex;
    justify-content: space-between;
}
.footer-col .texto-logo-izq{
    display: flex;
  
    justify-content: center;
    max-width: 35vw;
    font-weight: 500;
    font-size: larger;
    text-align: center;
    color: white;
    position: absolute;
    margin-top: 145px;
    margin-left: 3vw;
}
/*COLUMNA CENTRAL DEL FOOTER*/
.footer-col .texto-boton-footer {
    max-width: 350px;
    font-weight: 550;
    margin-top: 50px;
    font-size:x-large;
    text-align: center;
    
    color: white;
}
.footer-col .boton-entrar{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
/*COLUMNA DERECHA DEL FOOTER*/
.footer-col .logo-footer img{
    width: 100px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.footer-col .redes-footer img{
    width: 20vw;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
h6{
    font-size: 1.5vw;  
}